@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Quicksand:wght@700&display=swap");

.Ihope {
  font-family: "Inconsolata", monospace;
}
.textfont {
  font-family: "Encode Sans SC", sans-serif;
  text-decoration: underline;
}

#name {
  font-family: "Encode Sans SC", sans-serif;
}

.list {
  font-family: "Quicksand", sans-serif;
}

#emoji {
  font-size: 24px;
  text-decoration: line-through;
  color: Red;
}

p {
  color: red;
}

body {
  padding: 50px;
}

div1 {
  display: inline-block;
  width: 500px;
  height: 200px;
}

.color-1 {
  background-color: #FFF8DC;
}

div {
  width: 41vw;
  height: 12.5vh;
  background-image: url("https://memes.tw/user-maker-thumbnail/5852cbfd835e966712367b9f9f9c6831.gif");
  background-size: 50px;
  baclground-repeat: repeat;
}
